<p>
  <h3>You're departing from:</h3>
  <%= @start_station.name %>
</p>

<hr>

<h3>Select a train to receive SMS reminders:</h3>
<p>Current time: <%= Time.zone.now.strftime("%-l:%M%P") %>

<% @start_station.departures.each do |d| %>
	<strong><p class="text-uppercase">
		<%= d.destination.name %>
	</p></strong>
	<p>
		<% d.estimates.each do |e| %>
			<%= link_to "#{e.minutes} min (#{(Time.zone.now + e.minutes*60).strftime("%-l:%M%P")})", reminder_path(min: e.minutes, phone: @phone), class: "btn btn-default" %>
		<% end %>
	</p>
<% end %>