<p>
  <strong>You're departing from:</strong><br>
  <%= @start_station.name %>
</p>

<hr>

<p><strong>Select a train:</strong></p>
<% @start_station.departures.each do |d| %>
	<p>
		<%= d.destination.name %>
	</p>
	<p>
		<% d.estimates.each do |e| %>
			<%= link_to "#{e.minutes} min (#{(Time.now + e.minutes*60).strftime("%-l:%M%P")})", reminder_path(min: e.minutes, phone: @phone) %>
		<% end %>
	</p>
<% end %>