/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.station-name {
	font-size: 1.25em;
	color: #060;
}

#times {
	width: 280px;
	margin: 0 auto;
	text-align: left;
	font-size: 1.25em;
}

.chosen-time {
	font-size: 1.25em;
}

.destinations {
	margin-top: 25px;
}

#current-time {
	color: #F60;
}

hr {
	width: 150px;
}

.button-styling {
	width: 90px;
	white-space: normal;
}

.submit, .phone-field, .station-field {
	margin-top: 30px;
}

.schedule-container {
	width: 280px;
	margin: 0 auto;
	text-align: left;
}